@layer theme, base, clerk, components, utilities; /* Ensure Clerk is compatible with Tailwind CSS v4 */

@import './theme.css' layer(theme);
@import 'tailwindcss';

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @apply max-w-7xl;
}

@layer base {
  html {
    @apply bg-[--background] text-[--foreground];
    font-family: var(--font-sans);
  }
}
